*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f5f9;
    font-family: Arial, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 14rem auto 14rem;
    gap: 1rem;
    min-height: 100vh;
    padding: 1rem;
}

/* Left */

aside{
    background: #0f172a;
    color: white;
    padding: 1rem;
    border-radius: 10px;
}

/* Main */

main{
    background: white;
    padding: 1rem;
    border-radius: 10px;
}

/* Right */

.right{
    background: #cbd5e1;
    padding: 1rem;
    border-radius: 10px;
}